<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">Los_Heroes!</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@losheroes.cfen3r41ro7r.us-west-1.rds.amazonaws.com:1521:Heroes</property>
        <property name="hibernate.connection.username">marcomau5</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
       <property name="hibernate.show_sql">true</property> 
        <mapping class="com.myapp.beans.Hero"/>
        <mapping class="com.myapp.beans.Abilities"/>
        <mapping class="com.myapp.beans.Skins"/>

    </session-factory>
</hibernate-configuration>